<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Produtos</title>
</head>
<body>

<h2>Gestão de Produtos</h2>
    <a href="{% url 'product_list' %}">Home</a>
    <h5>Lista de Produtos</h5>
    <a href="{% url 'product_new' %}">Novo Produto</a>
    <table border="1">
        <thead>
            <th scope="col">Cód.</th>
            <th scope="col">Título do Produto</th>
            <th scope="col">Preço do Produto</th>
            <th scope="col">Opções</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td scope="row">{{ product.id }}</td>
                    <td scope="row">{{ product.product_title }}</td>
                    <td scope="row">{{ product.product_price }}</td>
                    <td scope="row">
                        <a href="{% url 'product_update' product.id %}">Alterar</a> /
                        <a href="">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>