<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmar</title>
</head>
<body>
<h1>Confirmar exclusão do produto abaixo?</h1>
    <i>{{ product.product_title }}</i>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Deletar</button>
    </form>
    <a href="{% url 'product_list' %}">Voltar</a>

</body>
</html>